body {
    background-color: #000000;
}
.main {
    background-color: #ffffff;
    margin-top: 6.875rem;
    padding-left: 6.25rem;
    min-width: 75rem;
    height: 31.25rem;
    position: relative;
    z-index: 1;
}